body {
    background-color: lavender;
}

#navbar {
    background-color: cadetblue;
    height: 100px;
}
#links {
    padding: 40px;
}

#texto1 {
    font-family: Verdana;
    font-size: 12;
    width: 50%;
    border: 5px solid black;
    margin: 0 auto;
}

#texto2 {
    font-family: Tahoma;
    font-size: 14;
    text-align: right;
    border: 5px solid red;
    margin-top: 10px;
    width: 100%;
    font-style: italic;
}

#texto3 {
    font-family: Verdana;
    font-size: 12;
    color: #8B4513;
    border: 5px solid black;
    width: 50%;
    margin: 0 auto;
    margin-top: 10px;
}

#texto4 {
    font-size: 12;
    font-family: Arial;
    color: #FF4500;
    border: 5px solid red;
    margin-top: 10px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 10px;
    width: 100%;
}